<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>

    <link rel="stylesheet" href="static/css/chat.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    
    <!-- CHAT BAR BLOCK -->
    <div id="app" class="chat-bar-collapsible">
        <button id="chat-button" type="button" class="collapsible" @click="toggleChatbox">Chatbot Sneak Me
            <i id="chat-icon" class="fa fa-fw fa-comments-o"></i>
        </button>
        
        <div class="content" :class="{active: isActive}">
            <div class="full-chat-block">
                <!-- Message Container -->
                <div class="outer-container">
                    <div class="chat-container">
                        <!-- Messages --> 
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Chargement...</span></p>
                          <div v-for="(message, index) in conversation">
                                <p v-if="index%2 == 0" class="userText"><span>  {{ message }} </span></p>
                                
                                <p v-else="" class="botText"><span> {{ message }} </span></p>
                                   
                                </p>
                            </div>

                        <!-- User input box -->
                        <div class="chat-bar-input-block" :class="{active: isActive}">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg" v-model="msg"
                                    placeholder="Tapez 'Entrée' pour envoyer un message">
                                <p></p>
                            </div>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                 @click="traitementMessage"></i>
                            </div>
                        </div>

                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</body>

<!-- PARTIE VUE -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="static/scripts/responses.js"></script>
<script src="static/scripts/chat.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script>

 function getTime () {
    let today = new Date();
    hours = today.getHours();
    minutes = today.getMinutes();

    if (hours < 10) {
        hours = "0" + hours;
    }

    if (minutes < 10) {
        minutes = "0" + minutes;
    }

    let time = hours + ":" + minutes;
    return time;
}
    Vue.createApp({
        data() {
            return {
                isActive: false,
                msg: "",
                conversation:[],

            
            }
        },
        methods: {
            toggleChatbox: function() {
                console.log(getTime())
                this.isActive = !this.isActive
            },
            traitementMessage: function() {
                console.log(this.msg)
                if (this.msg=== "") {this.conversation.push("I love Code Palace!")}
                if (this.msg!==""){this.conversation.push(this.msg)}
                if (this.msg == "bonjour") {
        {this.conversation.push("Bonjour, souhaitez-vous un renseignement sur l'un de nos produits ?")}
    } else if (this.msg == "au revoir") {
        this.conversation.push("A bientôt, bonne journée!")
    } else {
        this.conversation.push ("Essayez de demander autre chose!")
    }}
    }}
    )
            
        
    .mount('#app') 

</script>
</html>