<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>

    <link rel="stylesheet" href="static/css/chat.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

</head>

<body>
    <!--Top Content -->
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="/static/images/logo.png" width="125px">
                </div>
                <nav>
                    <ul>
                        <li> <a href="">Accueil</a></li>
                        <li> <a href="">Produits</a></li>
                        <li> <a href="">A propos</a></li>
                        <li> <a href="">Contact</a></li>
                        <li> <a href="">Compte</a></li>
                    </ul>
                </nav>
                <img src="/static/images/cart.png" width="30px" height="30px">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Bientôt<br>Un Nouveau Style!</h1>
                    <p>SneakMe est un magasin de chaussures spécialisé dans les paires exclusives / éditions limitées
                    </p>
                    <a href="" class="btn">Voir plus &#8594; </a>
                </div>
                <div class="col-2">
                    <img src="/static/images/paire.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- CHAT BAR BLOCK -->
    <div id="app" class="chat-bar-collapsible">
        <button id="chat-bubble" type="button" class="collapsible" @click="toggleChatbox">
            <i id="chat-icon" class="fa fa-fw fa-comments-o"></i></button>

        <div class="content" :class="{active: isActive}">
            <div class="full-chat-block">
                <!-- Message Container -->
                <div class="outer-container">
                    <div class="chat-container">
                        <!-- Messages -->
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <!--<p id="botStarterMessage" class="botText"><span>Chargement...</span></p>-->
                            <div v-for="(message, index) in conversation">
                                <p v-if="index%2 === 0" class="userText"><span> {{ message }} </span></p>

                                <p v-else class="botText"><span> {{ message }} </span></p>
                            </div>

                            <!-- User input box -->
                            <div class="chat-bar-input-block" :class="{active: isActive}">
                                <div id="userInput">
                                    <input id="textInput" class="input-box" type="text" name="msg" v-model="msg"
                                        v-on:keyup.enter="traitementMessage" placeholder="Votre message ...">
                                    </br>
                                </div>
                                <i id="chat-icon-envoie" style="color: #333;" class="fa fa-fw fa-send"
                                    @click="traitementMessage"></i>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<!-- PARTIE VUE -->
<script src="https://unpkg.com/vue@3"></script>
<script>

    function getTime() {
        let today = new Date();
        let hours = today.getHours();
        let minutes = today.getMinutes();

        if (hours < 10) {
            hours = "0" + hours;
        }
        if (minutes < 10) {
            minutes = "0" + minutes;
        }
        let time = hours + ":" + minutes;
        return time;
    }
    Vue.createApp({
        data() {
            return {
                isActive: false,
                msg: "",
                conversation: [],
            }
        },
        methods: {
            toggleChatbox: function () {
                // console.log(getTime())
                this.isActive = !this.isActive
            },
            traitementMessage: function () {
                // console.log(this.msg)
                if (!this.msg) {
                    this.conversation.push("I love Code Palace!")
                } else {
                    this.conversation.push(this.msg)
                }

                if (this.msg === "bonjour") {
                    { this.conversation.push("Bonjour, souhaitez-vous un renseignement sur l'un de nos produits ?") }
                } else if (this.msg === "au revoir") {
                    this.conversation.push("A bientôt, bonne journée!")
                } else {
                    this.conversation.push("Essayez de demander autre chose!")
                }
            }
        }
    }).mount('#app')

</script>

</html>
